body {
    background-color: rgb(153, 149, 149);
    color: white;
    display: grid;
    align-items: center;
    align-content: center;
    grid-template-columns: 1fr;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header {
background-color: rgb(128, 0, 85);
    padding: 1rem;
    border-radius: 5px;
    margin: 5px 5px 5px 0;
}


.content {
    background-color: rgb(52, 151, 93);
    padding: 1rem;
    border-radius: 5px;
    margin: 5px 5px 5px 0;
}

.article {
    background-color: rgb(151, 7, 55);
    padding: 1rem;
    border-radius: 5px;
    margin: 5px 5px 5px 0;
    grid-template-columns: 1fr;
}

.left-sidebar {
    background-color: rgb(31, 92, 161);
    padding: 1rem;    
    border-radius: 5px;
    margin: 5px 5px 5px 0;
}

.right-sidebar {
    background-color: rgb(31, 92, 161);
    padding: 1rem;    
    border-radius: 5px;
    margin: 5px 5px 5px 0;
}

.footer {
    background-color: rgb(192, 102, 0);
    padding: 1rem;    
    border-radius: 5px;
    margin: 5px 5px 5px 0;
}



@media (min-width: 481px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-rows: 1fr auto 1fr;
  }

  .header {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  
  .left-sidebar {
    display: block;
  }

  .footer {
    grid-column-start: 1;
    grid-column-end: 4;
  }
}
