body {
    background-color: rgb(153, 149, 149);
    color: white;
    display: grid;
    align-items: center;
    align-content: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

header {
background-color: rgb(128, 0, 85);
    padding: 1rem;
    border-radius: 5px;
    margin: 5px 5px 5px 0;
}

div {
    background-color: rgb(52, 151, 93);
    padding: 1rem;
    border-radius: 5px;
    margin: 5px 5px 5px 0;
    justify-content: center;
    align-items: center;
}

article {
    background-color: rgb(151, 7, 55);
    padding: 1rem;
    border-radius: 5px;
    margin: 5px 5px 5px 0;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
}

.aside {
    background-color: rgb(31, 92, 161);
    padding: 1rem;    
    border-radius: 5px;
    margin: 5px 5px 5px 0;
}

footer {
    background-color: rgb(192, 102, 0);
    padding: 1rem;    
    border-radius: 5px;
    margin: 5px 5px 5px 0;
}

@media (max-width: 481px) {
    .aside {
        grid-template-rows: repeat(1fr)
    }

    div {
        grid-template-rows: 1fr;
        justify-content: center;
        align-items: center;
    }

    .article {
        grid-template-rows: 1fr;
        justify-content: end;
        align-items: center;
    }
}